$def with ()
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login de Usuario</title>
</head>
<body>
    <h1>Iniciar sesión</h1>
    <form method="POST" action="/login">
        <label>Correo: <input type="email" name="correo" required></label><br>
        <label>Contraseña: <input type="password" name="contrasena" required></label><br>
        <button type="submit">Ingresar</button>
    </form>
    <br>
    <a href="/recuperar_contrasena">¿Olvidaste tu contraseña?</a>
    </form>
</body>
</html>
